<div>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setShowTextBox()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="city.inputCity" id="cityName" placeholder="Enter city name"
      autofocus (keydown.enter)="addCity()">
    <small *ngIf="city.showErrorMsg" id="cityName" class="form-text text-muted">City not found</small>
  </div>
  <button type="button" class="btn btn-secondary" *ngIf="city.cityFound" (click)="removeCity()">
    <img src="assets/rubbish-bin.svg" class="icons-max icons-mini"></button>
  <button type="button" class="btn btn-primary" *ngIf="city.cityFound" (click)="updateCityDetails()">
    <img src="assets/refresh.svg" class="icons-max icons-mini"></button>
</div>
