<div class="container">
  <div class="row mar-top-1">
    <div class="col-12 col-md-6 col-lg-4 nopad" *ngFor="let city of cityArray;let _index = index;">
      <div class="panels">
        <div *ngIf="city.cityFound && !city.showTextBox">
          <app-cityweatherdetails [city]="city" [index]="_index"></app-cityweatherdetails>
        </div>
        <div (click)="setShowTextBox(_index,true)" *ngIf="!city.cityFound && !city.showTextBox">
          <img src="../assets/plus.svg" class="icon icon-max">
          <div>Add a City </div>
        </div>
        <div *ngIf="city.showTextBox">
          <app-addcity [city]="city" [index]="_index"></app-addcity>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader-page" *ngIf="loader">
  <div class="loader-box">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
